@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    Logged in as: <strong>@context.User.Identity.Name</strong> <a href="logout"> <span>Logout</span> </a>
                </Authorized>
                <NotAuthorized>
                    <a href="register"> <span>Register</span> </a>
                    <a href="login"> <span>Login</span> </a>
                </NotAuthorized>
            </AuthorizeView>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
