@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h3>Welcome to BlazorAppSecure!</h3>
        <!-- Add your home page content here -->
    </Authorized>
    <NotAuthorized>
        <LoginForm />
    </NotAuthorized>
</AuthorizeView>